body {
    background: black;
   
}
.container {
    position: relative;
    display: flex;
    height: 100vh;
   
}
.git-bio {
    display: flex;
    flex-direction: column;
   

}
.git-bio img {
    position: absolute;
    left: 100px;
    top:150px;
    height: 255px;  
    width: 255px;
    border: white 1px solid;
    border-radius: 50%;
}

.name {
    position: absolute;
    left: 150px;
    top: 400px;
    font-size: 25px;
    color: gray;

} 

#repo-column {
    align-content: end;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.button {
    font: bold 18px Arial;
    text-decoration: none;
    color: #3F81DF;
    padding: 2px 6px 2px 6px;
    
  }
  .button:hover{
      border-bottom: #3F81DF 3px solid;
  } 
  #repos {

position: absolute;
right: 80px;
line-height: 5px;
border-bottom: gray 3px solid;
  }